# Node.js
# ========================

# dependencies
node_modules/
dist/
.env
logs/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Editors
.history
.sublime-workspace
.sublime-project